
@{
    ViewBag.Title = "Cannot Remove Employee";
}

<br />

<div class="alert alert-danger" role="alert">
    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
    <span class="sr-only">Error:</span>
    One or more of the selected employees to remove manage employees.
    In order to remove them you must remove their employees.
</div>

