
@{
    ViewBag.Title = "No Manager";
}

<br />

<div class="alert alert-danger" role="alert">
    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
    <span class="sr-only">Error:</span>
    This employee cannot manage other employees.
    In order to manage other employees he/she must have a manager first.
</div>

