@{
    ViewBag.Title = "Home Page";
}
<br />

<div>
    <p>USER: HR manager</p>
    <p>Has to manage the people at his company.</p>
    <p>The hierarchy in the company includes the following roles:</p>
    <ul>
        <li>Trainee</li>
        <li>Junior</li>
        <li>Intermediate</li>
        <li>Senior</li>
        <li>Team leader</li>
        <li>Project manager</li>
        <li>Delivery director</li>
        <li>CEO</li>
    </ul>
    <div>
        <p>
            Each employee must have information about Name, his position, salary, workplace-City, email, phone, Project name (without project) and his manager.
            Trainee, Junior, Intermediate and Senior employees are part of team managed by a Team lead. One project manager can manage multiple teams. Delivery director is on top of multiple project managers. CEO is the head of the entire company.
            I must be able to add a new employee, see and edit the existing ones.
        </p>
        <p>
            I need to be able to choose Trainee, Junior, Intermediate, Senior or Team lead and see in which team they belongs together with information who is their Lead, Project Manager, Delivery director, CEO.
            I need to be able to move employees to different teams and delivery verticals.
        </p>
        <p>
            Technologies: ASP.NET MVC, Entity Framework, SQL Express. Other technologies are also allowed and welcomed.
        </p>
    </div>
</div>
